body {
    background-image: url(https://steamcommunity.com/economy/profilebackground/items/420530/40fc074aefcfe8f5fd3ee9a546639f1dc83f6ff6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.shadowbox {
    background-color: rgba(0, 0, 0, .5);
    margin: 4% 20%; /* Adjusted margin for responsiveness */
    border-radius: 50px;
}

.h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    font-size: 3vw; /* Adjusted font size */
    margin-top: 1vh;
}

.white {
    font-size: 2vw; /* Adjusted font size */
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Adjusted positions and sizes for social icons */
.bsky, .twitter, .instagram, .kofi {
    width: 5%;
    position: relative;
    left: 40%;
    bottom: -1vh;
}

.icon1 {
    text-align: center;
    width: 22%;
    position: relative;
    left: 39%;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

hr {
    display: block;
    margin-left: 5%;
    margin-top: 0%;
    margin-right: 5%;
    margin-bottom: 1%;
    color: rgba(255, 255, 255, 0.2);
}
/* Adjusted positions and sizes for images */
.image1, .image2, .image3, .image4 {
    width: 30%; /* Adjusted width */
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

.image1 { position: relative; left: 8vw; bottom: 4.5vh; }
.image2 { position: relative; left: 15vw; top: 4.5vh; }
.image3 { position: relative; left: 8vw; top: 1vh; }
.image4 { position: relative; left: 15vw; top: 1vh; }

footer {
    color: rgba(255, 255, 255, .4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: -.5vh; /* Adjusted margin */
}

@media screen and (max-width: 600px) {

    .shadowbox{
        margin: 1% 5%;
    }
  
}